{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<h2>Users</h2>
			<table class="table table-bordered table-striped" id="user_list">
			 <thead>
			  <tr>
				<th>ФИО</th>
				<th>Номер телефона</th>
				<th>Компания</th>
				<th>Email</th>
			  </tr>
			  <tr id="add_row">
				<th colspan="4" class="add">
					<a href="#" id="add_company_admin" class="create btn btn-small">Add new User (Company Administrator) <i class="icon-plus-sign"></i></a>
					<p class="form-inline hide" id="form_add">
						<input name="fullname_add" type="text" placeholder="Fullname" class="input-small fullname_add">
						&nbsp;
						<input name="username_add" type="number"  placeholder="Phonenumber" class="username_add">
						&nbsp;
						<label>
							<select class="span3 company_add" name="company">
							</select> Компания
						</label>
						&nbsp;
						<input name="email_add" type="email" placeholder="Email" class="email_add">
						&nbsp;
						<input name="pass_add" type="text" placeholder="Password" class="pass_add">
						<button class="add_user btn btn-mini btn-success">add</button>
					</p>
				</th>
			  </tr>
			 </thead>
			</table>
		</div>
		<script src="/js/user_to_company.js"></script>
		<script type="text/javascript">
			
			var companies = new Backbone.Collection;
			companies.reset({{ companies_json|raw }});
			
			// Collection products
			var Users = Backbone.Collection.extend({
			  
			  model: UserModel,
			  
			  url: '/user',
			  
			  initialize: function(){
				  this.bind('add', this.addUser);
			  },
			  
			  addUser: function(user){
				user.save({wait: true});
			  },
			  
			});
			
			var users = new Users; 
			
			var view_users = new ViewUsers({collection: users}); // initialize view
			
			users.comparator = function(user) {
			  return user.get("name");
			};
			
			$('#user_list').append(view_users.render().el); // add template
			
			users.reset({{ users_json|raw }});
		</script>
	</div>
{% endblock %}

