{% extends 'SupplierBundle::base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
<table class="table table-bordered table-striped" id="user_list">
 <thead>
  <tr>
	<th>ФИО</th>
	<th>Номер телефона</th>
	<th>Email</th>
	<th>Пароль</th>
	<th>Роль</th>
	<th>Рестораны</th>
	<th></th>
  </tr>
  <tr id="add_row">
	<th colspan="7" class="add">
		<a href="#" id="add_company_admin" class="create btn btn-small">Добавить пользователя <i class="icon-plus-sign"></i></a>
		<div class="form-inline hide forms">
			<table class="table table-bordered">
			<tr>
				<th>ФИО</th>
				<th>Номер телефона</th>
				<th>Email</th>
				<th>Пароль</th>
				<th>Роль</th>
				<th>Рестораны</th>
				<th></th>
			</tr>
			<tr>
				<td>
					<input name="fullname_add" type="text" placeholder="Fullname" class="input-small fullname_add">
				</td>
				<td>
					<input name="username_add" type="number"  placeholder="Phonenumber" class="username_add span2">
				</td>
				<td>
					<input name="email_add" type="email"  placeholder="Email" class="email_add span2">
				</td>
				<td class="controls-pass">
					<input name="pass_add" type="password"  placeholder="Password" class="pass_add span2">
					<span class="help-block"><a href="#" class="showpass hide"><small>Показать пароль</small></a></span>
				</td>
				<td class="roles_add"></td>
				<td class="restaurants_add"></td>
				<td><button class="add_user btn btn-mini btn-success">Добавить</button></td>
			</tr></table>
		</div>
	</th>
  </tr>
 </thead>
</table>
<script src="/js/user_management.js"></script>
{% endblock %}

