{# src/Acme/UserBundle/Resources/views/User/successRegistration.html.twig #}
{% extends 'AcmeUserBundle::base.html.twig' %}

{% block title %}Успешная регистрирация{% endblock %}

{% block body %}
	<div class="span3">
		<legend>Регистрация</legend>
		<p>Вы успешно зарегистрировались, проверьте электронную почту для того чтобы подтвердить свой email.</p>
	</div>
{% endblock %}
