{# src/Acme/UserBundle/Resources/views/User/successRegistration.html.twig #}
{% extends 'AcmeUserBundle::base.html.twig' %}

{% block body %}

	<legend>Регистрация</legend>
	<p>Вы успешно зарегистрировались, проверте электронную почту для того чтобы подтвердить свой email.</p>

{% endblock %}
