{# src/Supplier/SupplierBundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ShowStaff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">
    <style type="text/css">
      body { padding-top: 60px; padding-bottom: 40px;  }
      .sidebar-nav { padding: 9px 0; }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
	<script src="/js/jquery.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/feedback.js"></script>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35948738-1']);
	_gaq.push(['_setDomainName', 'showstaff.ru']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
  
	var _gaq = window._gaq || [];
	window.onerror = function(msg, url, line) {
		var preventErrorAlert = true;
		_gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line, 0, true]);
		return preventErrorAlert;
	};
	
	jQuery.error = function (message) {
		_gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent, 0, true]);
	}
	$('body').hiderwed(;
</script>
<input type="hidden" id="refreshed" value="no" />
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Show Staff</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            	{% if app.user.username is defined %}
            		Logged in as <a href="#" class="navbar-link">{% if app.user.fullname is defined %}{{ app.user.fullname }}{% else %}{{ app.user.username }}{% endif %}</a>
            	{% endif %}
            	
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					,  <a href="{{ path('logout') }}">Logout</a>
				{% else %}
					<a href="{{ path('login') }}">Login</a>
				{% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
		 {% block body %}{% endblock %}
					 
		 <div id="up">
		  <div class="alert hide alert-error"><button type="button" class="close">×</button>
			Ошибка. <strong></strong><br>Попробуйте еще раз или обратитесь к администратору.
		  </div>
		  <div class="alert hide alert-success"><button type="button" class="close">×</button>
			<strong>Продукт добавлен</strong>
		  </div>
		  <div class="progress progress-striped active hide" id="preloader"><div class="bar" style="width: 100%;"></div></div>
			<div class="progress progress-striped green active hide" id="preloader_s"><div class="bar" style="width: 100%;"></div></div>
		  </div>
		 
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
  </body>
</html>
