{% extends 'SupplierBundle::base.html.twig' %}

{% block title %}Продукты{% endblock %}

{% block body %}
<div  class="row">
	<div class="span12">
	<!-- <h2>Company "{{company.name}}"</h2> -->
	<table class="table table-bordered table-striped" id="product_list">
	 <thead>
	  <tr>
		<th>Название
			<a href="#" class="sort"><i class="icon-arrow-up"></i></a>
		</th>
		<th>Единица</th>
	  </tr>
	  <tr id="add_row">
		<th colspan="2" class="add">
			<a href="#" class="create btn btn-small">Добавить продукт <i class="icon-plus-sign"></i></a>
			<div class="form-inline hide forms">
				<div class="controls-group">
					<input name="name_add" autocomplete="off" type="text" class="input name_add">
					<select class="span2 unit_add" name="unit"></select>
					<button class="add_product btn btn-mini btn-success">Добавить</button>
				</div>
			</div>
		</th>
	  </tr>
	 </thead>
	</table>
	<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/js/jquery.ui.My_autocomplete.js"></script>
	<script src="/js/products.js"></script>
	</div>
</div>
{% endblock %}
