{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<h3>Продукты Поставщика "{{ supplier.name }}"</h3>
			<div class="sp_list">
				<table class="sproducts table table-bordered white">
				  <thead class="supplier_products_header">
					  <tr>
						<th>Продукт - Единица</th>
						<th>Название
							<a href="#" class="sort_by_name"><i class="icon-arrow-up"></i></a>
						</th>
						<th>Цена
							<a href="#" class="sort_by_price"><i class="icon-arrow-down"></i></a>
						</th>
						<th>Первичный
							<a href="#" class="sort_by_prime"><i class="icon-arrow-down"></i></a>
						</th>
					  </tr>
					  <tr id="add_row">
						<th colspan="4" class="add_supplier_product">
							<a href="#" class="add_supplier_product_show btn btn-small create">Добавить продукт поставщика <i class="icon-plus-sign"></i></a>
							<div class="form-inline hide forms">
								<input name="name" type="text" class="input name_add_sp" required="required" placeholder="Название">
								<input name="price" type="text" class="input-small price_add_sp span1" required="required" placeholder="Цена">
								
								<label>
									<select class="product_add_sp" name="product"></select> Продукт
								</label>
								
								<label class="checkbox">
									<input name="primary_supplier" type="checkbox" value="1" class="input-small primary_supplier_add_sp"> Первичный
								</label>
								<button class="pull-right add_supplier_product_btn btn btn-mini btn-success">add</button>
							</div>
						</th>
					  </tr>
				  </thead>
				</table>
			</div>
		</div>
		<script src="/js/supplier_products.js"></script>
	</div>
{% endblock %}
