{% extends 'SupplierBundle::base.html.twig' %}

{% block title %}Компании{% endblock %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<h2>Companies</h2>
			<table class="table table-bordered table-striped" id="companies_list">
			 <thead>
			  <tr>
				<th>Название
					<a href="#" class="sort sort_by_name"><i class="icon-arrow-up"></i></a>
				</th>
				<th>Длинное наименование
					<a href="#" class="sort sort_by_exname"><i class="icon-arrow-up"></i></a>
				</th>
				<th>ИНН
					<a href="#" class="sort sort_by_inn"><i class="icon-arrow-up"></i></a>
				</th>
				<th></th>
			  </tr>
			  <tr id="add_row">
				<th colspan="4" class="add">
					<a href="#" id="add_supplier" class="create btn btn-small">Добавить компанию <i class="icon-plus-sign"></i></a>
					<div class="form-inline hide forms">
						<div class="controls-group">
							<input name="name_add" type="text" placeholder="Name" class="input-small name_add">
							<input name="extended_name_add" type="text"  placeholder="Extended name" class="extended_name_add">
							<input name="inn_add" type="text"  placeholder="INN" class="inn_add">
							<button class="add_company btn btn-mini btn-success">Добавить</button>
						</div>
					</div>
				</th>
			  </tr>
			 </thead>
			</table>
		</div>
		<script src="/js/company.js"></script>
	</div>
{% endblock %}
