{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
		<h2>Suppliers</h2>
			{% if suppliers is defined and suppliers|length > 0 %}
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Name</th>
					</tr>
					 {% for supplier in suppliers %}
						<tr>
							<td>{{ supplier.id }}</td>
							<td>
								<p>
									<a href="{{ path('supplier_edit', { 'id': supplier.id }) }}" class="btn btn-link">
									<i class="icon-edit"></i>
									</a>&nbsp;{{ supplier.name }}
								</p>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="2"><div class="alert alert-error">Empty Result</div></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<div class="alert alert-error">Empty Result</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
