{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<h2>Restaurants in the Company "{{ company.name }}"</h2>
			<table class="table table-bordered table-striped" id="restaurants_list">
			 <thead>
			  <tr>
				<th>Название
					<a href="#" class="sort sort_by_name"><i class="icon-arrow-up"></i></a>
				</th>
				<th>Адрес
					<a href="#" class="sort sort_by_address"><i class="icon-arrow-up"></i></a>
				</th>
				<th>Директор
					<a href="#" class="sort sort_by_director"><i class="icon-arrow-up"></i></a>
				</th>
			  </tr>
			  <tr id="add_row">
				<th colspan="3" class="add">
					<a href="#" class="create btn btn-small">Add new Restaurant <i class="icon-plus-sign"></i></a>
					<p class="form-inline hide" id="form_add">
						<input name="name_add" type="text" placeholder="Name" class="input-large name_add">
						<input name="address_add" type="text" placeholder="Address" class="input-large address_add">
						<input name="director_add" type="text" placeholder="Director" class="input-large director_add">
						<a class="add_restaurant btn btn-mini btn-success">add</a>
					</p>
				</th>
			  </tr>
			 </thead>
			</table>
			<script src="/js/restaurant.js"></script>
			<script type="text/javascript">
				// Collection restaurants
				var Restaurants = Backbone.Collection.extend({
				  
				  model: RestaurantModel,
				  
				  url: '/company/{{ company.id }}/restaurant',
				  
				  company_id: {{ company.id }},
				  
				  initialize: function(){
					  this.bind('add', this.addRestaurant);
				  },
				  
				  addRestaurant: function(restaurant){
					restaurant.save({wait: true});
				  },
				  
				});
				
				var restaurants = new Restaurants; // init collection

				var view_restaurants = new ViewRestaurants({collection: restaurants}); // initialize view

				restaurants.comparator = function(restaurant) {
				  return restaurant.get("name");
				};

				$('#restaurants_list').append(view_restaurants.render().el); // add template

				$('#preloader').width($('#add_row').width());
				$('#preloader').height($('#add_row').height());
				var p = $('#add_row').position();
				$('#preloader').css({'left':p.left, 'top': p.top});
				$('#preloader').fadeIn('fast');

				restaurants.reset({{ restaurants_json|raw }});

			</script>
		</div>
	</div>
{% endblock %}

