{% extends 'SupplierBundle::base.html.twig' %}

{% block title %}Рестораны{% endblock %}

{% block body %}
<table class="table table-bordered table-striped" id="restaurants_list">
 <thead>
  <tr>
	<th>Название ресторана</th>
	<th>Ссылка к заказу продуктов</th>
  </tr>
 </thead>
 <tbody>
	{% for restaurant in restaurants %}
		<tr>
			<td>{{ restaurant.name }}</td>
			<td><a href="{{ path('OrderItem_list', {'cid': company.id, 'rid':restaurant.id} ) }}">Заказы ресторана</a></td>
		</tr>
	{% endfor %}
 </tbody>
</table>
{% endblock %}


