{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
<div class="row-fluid">
	<div class="span9">
		<h1>Компания "{{ company.name }}"</h1>
		<h2>Смена для ресторана "{{ restaurant.name }}" на {{ date }}</h2>
	</div>
	<div class="span3">
		<form class=" pull-right form-inline">
			<input type="text" value="{{ date }}" class="wh_datepicker input-small">
			<a href="" class="btn" id="link_to_date">Открыть</a>
		</form>
	</div>
</div>
{% if agreed == 1 %}<div class="row-fluid agreed_all"><a class="btn" rel="disagreed">Разутвердить всех</a></div><hr>{% endif %}

<table class="table table-bordered table-striped" id="shift_list">
	<thead>
		<tr>
			<th>Пользователь</th>
			<th>Должность</th>
			<th>Запланировано часов</th>
			<th>Фактических часов</th>
			<th>Утвержден</th>
			<th class="contr"></th>
		</tr>
		<tr id="add_row">
			<th colspan="6" class="add">
				<a href="#" class="create btn btn-small">Добавить сотрудника <i class="icon-plus-sign"></i></a>
				<div class="form-inline hide forms">
					<div class="controls-group">
						<div class="controls">
							<select name="user_add" class="user_add"></select>
						</div>
						<div class="controls">
							<select name="duty_add" class="duty_add"></select>
						</div>
						<div class="controls">
							<input type="number" placeholder="Запланировано часов" class="planhours_add" name="planhours_add" />
						</div>
						<div class="controls">
							<input type="number" placeholder="Фактических часов" class="facthours_add" name="planhours_add" />
						</div>
						<div class="controls">
							<button class="add_employee btn btn-mini btn-success">add</button>
						</div>
					</div>
				</div>
			</th>
		</tr>
	</thead>
</table>
{% if edit_mode == 1 %}
	<script src="/js/workinghours.js"></script>
{% else %}
	<script src="/js/workinghours_view.js"></script>
{% endif %}
{% endblock %}
