{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
<div class="row-fluid metro-datepicker">
	<div class="metro span9">
		<div class="metro-sections">
			<div class="metro-section inner-tile" id="section1">
				<a class="tile wide text bg-color-gree" href="#">
					<div class="text-header3">Смены для ресторана</div>
					<div class="text2">Редактирование смен доступно для любой будущей даты и смены должны быть сформированы до полуночи (либо пока директор не утвердит)</div>
				</a>

				<a class="tile square text tile-double bg-color-orange" href="#">
					<div class="text-header">Директор</div>
					<div class="text2">утверждает смены, либо они закроются для редактирования в определенное время</div>
				</a>

				<a class="tile half-wide  text bg-color-green" href="#">
					<div class="text-header3">Фактическое время работы</div>
					<div class="text2">Каждый день до 14:00 менеджер ресторана должен внести фактическое время работы сотрудников</div>
				</a>
			</div>
		</div>
	</div>
	<div class="span3 vert-alig-bottom">
		<link rel="stylesheet" href="/css/jquery-ui.css">
    	<script src="/js/jquery-ui-1.8.16.custom.min.js"></script>
		<div id="smena_datapicker"></div>
		<input type="hidden" value="{{ date }}" class="wh_datepicker" />
		<input type="hidden" value="{% if is_granted('ROLE_RESTAURANT_DIRECTOR') %}edit_role{% endif %}" class="role" />
	</div>
</div>

{% if is_granted('ROLE_RESTAURANT_DIRECTOR') %}<div class="row-fluid agreed_all">
	<a class="btn" rel="disagreed">Разутвердить</a>
	<a class="btn" rel="agreed">Утвердить</a>
</div>{% endif %}

<div class="row">
	<div class="span12">
		<table class="table table-bordered" id="shift_list">
			<thead>
				<tr>
					<th>Пользователь</th>
					<th>Запланировано часов</th>
					<th>Фактических часов</th>
					<th>Примечание</th>
					<th class="contr"></th>
				</tr>
				<tr id="add_row">
					<th colspan="6" class="add">
						<a href="#" class="create btn btn-small">Добавить сотрудника <i class="icon-plus-sign"></i></a>
						<div class="form-inline hide forms">
							<div class="controls-group">
								<div class="controls">
									<select name="user_add" class="user_add"></select>
								</div>
								<div class="controls">
									<input type="number" placeholder="Запланировано часов" class="planhours_add" name="planhours_add" />
								</div>
								<div class="controls">
									<input type="number" placeholder="Фактических часов" class="facthours_add" name="planhours_add" />
								</div>
								<div class="controls">
									<textarea name="description_add" class="description_add"></textarea>
								</div>
								<div class="controls">
									<button class="add_employee btn btn-mini btn-success">add</button>
								</div>
							</div>
						</div>
					</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<script src="/js/workinghours.js"></script> <!-- редактирование всего -->


{% endblock %}
