{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
	<div class="hero-unit">
		<h2>Suppliers</h2>
		<form action="{{ path('supplier_create') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}

			<input type="submit" value="Add" />
		</form>
	</div>

{% endblock %}
