{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
	<div class="row-fluid">
	  <div class="span4">
		
		<table class="table table-bordered table-striped" id="product_list">
		 <thead>
		  <tr>
			<th>Название
				<a href="#" class=""><i class="icon-arrow-up"></i></a>
				<a href="#" class=""><i class="icon-arrow-down"></i></a>
			</th>
			<th>Еденица</th>
		  </tr>
		  <tr>
			<th colspan="2" class="add">
				<a href="#" id="add_product" class="create btn btn-small">Add new Product <i class="icon-plus-sign"></i></a>
				<p class="form-inline hide" id="form_add">
					<input name="name_add" type="text" class="input-small name_add">
					<select class="span1 unit_add" name="unit"></select>
					<a class="add_product btn btn-mini btn-success">add</a>
				</p>
			</th>
		  </tr>
		 </thead>
		</table>
	  </div>
	  <div class="span8">
		<table class="table table-bordered table-striped" id="supplier_product_list">
		  <thead>
			  <tr>
				<th>Название
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
				<th>Цена
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
				<th>Еденица
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
				<th>Первичный
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
			  </tr>
		  </thead>
		</table>
	  </div>
	</div>
<div class="alert hide alert-error"><button type="button" class="close" data-dismiss="alert">×</button>
	Ошибка<strong> (This value is already used)</strong>. Попробуйте еще раз или обратитесь к администратору.
</div>
<div class="alert alert-success hide"><button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Продукт добавлен</strong>
</div>
{% endblock %}
