{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
	<div class="row-fluid">
	  <div class="span4">
		<h3>Продукты</h3>
		<table class="table table-bordered table-striped" id="product_list">
		 <thead>
		  <tr>
			<th>Название
				<a href="#" class="sort"><i class="icon-arrow-up"></i></a>
			</th>
			<th>Еденица</th>
		  </tr>
		  <tr id="add_row">
			<th colspan="2" class="add">
				<a href="#" id="add_product" class="create btn btn-small">Add new Product <i class="icon-plus-sign"></i></a>
				<p class="form-inline hide" id="form_add">
					<input name="name_add" type="text" class="input-small name_add">
					<select class="span1 unit_add" name="unit"></select>
					<a class="add_product btn btn-mini btn-success">add</a>
				</p>
			</th>
		  </tr>
		 </thead>
		</table>
	  </div>
	  <div class="span8">
		<h3>Поставщики</h3>
		<table class="table table-bordered table-striped" id="suppliers">
			<thead><th>
				<p>Поставщик <a href="" class="btn btn-small pull-right" id="close_all">Свернуть все</a></p>
			</th></thead>
		</table>  
		
		<!-- for clone -->
		<table class="table table-bordered table-striped hide" id="supplier_product_list">
		  <thead class="supplier_products_header">
			  <tr>
				<th>Название
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
				<th>Цена
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
				<th>Еденица</th>
				<th>Первичный
					<a href="#" class=""><i class="icon-arrow-up"></i></a>
					<a href="#" class=""><i class="icon-arrow-down"></i></a>
				</th>
			  </tr>
			  <tr>
				<th colspan="4" class="add_supplier_product">
					<a href="#" class="add_supplier_product_show btn btn-small">Добавить продукт поставщика <i class="icon-plus-sign"></i></a>
					<p class="form-inline hide form_add_supplier_product">
						<input name="name" type="text" class="input span5 name_add_sp" required="required" placeholder="Название">
						<input name="price" type="text" class="input-small price_add_sp" required="required" placeholder="Цена">
						
						<label>
							<select class="span1 product_add_sp" name="product"></select> Продукт
						</label>
						
						<label class="checkbox">
							<input name="primary_supplier" type="checkbox" value="1" class="input-small primary_supplier_add_sp"> Первичный
						</label>
						<a class="pull-right add_supplier_product_btn btn btn-mini btn-success">add</a>
					</p>
				</th>
			  </tr>
		  </thead>
		</table>
	  </div>
	</div>
<div id="up">
<div class="alert hide alert-error"><button type="button" class="close" data-dismiss="alert">×</button>
	Ошибка.<strong></strong><br>Попробуйте еще раз или обратитесь к администратору.
</div>
<div class="alert alert-success hide"><button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Продукт добавлен</strong>
</div>
<div class="progress progress-striped active hide" id="preloader"><div class="bar" style="width: 100%;"></div></div>
<div class="progress progress-striped green active hide" id="preloader_s"><div class="bar" style="width: 100%;"></div></div>
</div>
{% endblock %}
