{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
<div  class="row">
	<div class="span12">
		<h2>Suppliers in the Company "{{ company.name }}</h2>
		<table class="table table-bordered table-striped" id="supplier_list">
		 <thead>
		  <tr>
			<th>Название
				<a href="#" class="sort"><i class="icon-arrow-up"></i></a>
			</th>
			<th></th>
		  </tr>
		  <tr id="add_row">
			<th colspan="2" class="add">
				<a href="#" id="add_supplier" class="create btn btn-small">Add new Supplier <i class="icon-plus-sign"></i></a>
				<p class="form-inline hide forms">
					<input name="name_add" type="text" class="input name_add">
					<button class="add_supplier btn btn-mini btn-success">add</button>
				</p>
			</th>
		  </tr>
		 </thead>
		</table>
		<script src="/js/supplier.js"></script>
	</div>
</div>
{% endblock %}
