{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
<div class="row-fluid">
	<div class="span9">
		<h1>Компания "{{ company.name }}"</h1>
		<h2>Продукты для ресторана "{{ restaurant.name }}" на {{ booking_date }}</h2>
		{% if edit_mode == false %}<p class="alert">Заказ сформирован</p>{% endif %}
	</div>
	<div class="span3">
		<form class=" pull-right form-inline">
			<input type="text" value="{{ booking_date }}" class="datepicker input-small">
			<a href="" class="btn" id="link_to_date">Открыть</a>
		</form>
	</div>
</div>
<table class="table table-bordered table-striped" id="bookin_list">
 <thead>
  <tr>
	<th>Название
		<a href="#" class="sort sort_by_name"><i class="icon-arrow-up"></i></a>
	</th>
	<th>Количество
		<a href="#" class="sort sort_by_amount"><i class="icon-arrow-up"></i></a>
	</th>
	<th></th>
  </tr>
{% if edit_mode %}
  <tr id="add_row">
	<th colspan="3" class="add">
		<a href="#" class="create btn btn-small">Заказать продукт <i class="icon-plus-sign"></i></a>
		<div class="form-inline hide forms">
			<div class="controls">
				<select class="product_add"></select>
				<input name="amount_add" type="text" placeholder="Amount" class="input-large amount_add">
				<button class="add_booking btn btn-mini btn-success">add</button>
			</div>
		</div>
	</th>
  </tr>
{% endif %}
 </thead>
</table>
{% if edit_mode %}
	<script src="/js/booking.js"></script>
{% else %}
	<script src="/js/booking_complete.js"></script>
{% endif %}
{% endblock %}

